
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/Social01.log
Social01.uproject
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
*.log
*.ini
*.bin
