
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/Social01.log
